/target
.DS_Store
kicad/Fan_controller_v4/Fan_controller_bacup.kicad_sch
kicad/Fan_controller_v4/Fan_controller_bacup.kicad_sch
kicad/Fan_controller_v4/Fan_controller-backups/*
kicad/Fan_controller_v4/Fan_controller_backup2.kicad_sch
.DS_Store
